Hello, <%= @user %> (<a href="/logout">Logout</a>)
<p>

<table>
<%= @t %>
</table>

<form method="post" action="/new">
<input type="text" name="entry" size="50" maxlength="100"><br>
<input type="submit" value="Go">
</form>
